:root {
  --main-title-color: #ffffff;
  --main-color: #2e2f42;
  --main-gray: #434455;
  --blu: #4d5ae5;
  --d-blu: #404bbf;
  --l-gray: #f4f4fd;
  --ll-gray: #e7e9fc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  position: relative;
}

@media screen and (min-width: 320px) {
  .container {
    /* max-width: 320px; */
    /* padding-left: 15px;
    padding-right: 15px; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .first-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin: auto;
    width: auto;
    min-height: 80px;
    margin-bottom: 72px;
  }
  .mob-phone-link {
    font-size: 26px;
  }
}
@media screen and (min-width: 428px) {
  .mob-phone-link {
    font-size: 36px;
  }
}
@media screen and (max-width: 428px) {
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mob-menu {
    display: none;
  }
  .first-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    min-height: 120px;
    margin-bottom: 36px;
  }
  .page-header-conteiner {
    display: flex;
    align-items: center;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .first {
    padding: 188px 0;
    height: 600px;
  }

  .menu {
    display: flex;
    align-items: center;
  }
  .header-item:not(:last-child),
  .header-item-address:not(:last-child) {
    margin-right: 40px;
  }
  .header-address-link,
  .header-portfolio-link,
  .address {
    margin-left: auto;
  }
  .header-item {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
  }

  .header-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms linear;
  }
  .header-link:focus,
  .header-link:hover {
    color: var(--d-blu);
  }
  .header-address-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms linear;
  }
  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--d-blu);
  }

  .mobile-menu-icon {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .quaisty-list {
    column-gap: 24px;
  }

  .quaisty-item {
    flex: calc(50% - 12px);
  }
  .photo-list {
    background-color: var(--main-title-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    background-color: var(--l-gray);
  }
  .page1 {
  }
  .photo-color:not(:nth-last-child(-n + 2)) {
    margin-bottom: 72px;
  }
  .quaisty-uptext {
    text-align: left;
  }
  .customers-list {
    gap: 24px;
  }
  .footer-logo-container {
    display: flex;
    flex-direction: row;
  }

  /* .customers-list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 24px;
    width: 100%;
  }
  .customers-item {
    height: 88px;
    width: 190px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
  }
  .customers-item {
    flex-basis: 50%;
    box-sizing: border-box;
  } */
}

@media screen and (max-width: 768px) {
  .header-mobile {
    display: none;
  }
  .address {
    display: none;
  }
  .quaisty {
    padding-top: 96px;
  }
  .photo-list {
    flex-direction: column;
  }
  .photo-color {
    margin-bottom: 72px;
  }
  .customers-list {
    display: flex;
    justify-content: center;
    text-align: center;

    gap: 16px;
    width: 100%;
  }
  .customers-item {
    height: 88px;
    width: 190px;
    margin-right: 16px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
  }
  .customers-item {
    flex-basis: 33.33%;
    box-sizing: border-box;
  }
  .customers-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 72px;
  }
  .footer-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* .customers-item:not(:nth-child(3n)) {
    margin-right: 16px;
  } */
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .quaisty {
    padding-top: 120px;
  }

  .quaisty-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-gray);
  }
  .first-title {
    margin-bottom: 48px;
  }
  .mob-menu {
    display: none;
  }
  .quaisty-page-link {
    width: 264px;
    height: 112px;
    background-color: var(--l-gray);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .quaisty-list {
    flex-wrap: nowrap;
    /* row-gap: 72px; */
  }
  /*-----------------------PAGE 2----------------------*/

  .page-header-conteiner {
    display: flex;
    align-items: center;
  }

  .page1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 72px;
  }

  .page {
    padding-top: 120px;
    padding-bottom: 133px;
  }
  .page-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
  }

  .photo {
    background-color: var(--l-gray);
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .photo-color {
    margin-bottom: 72px;
  }

  /* .quaisty-item:not(:last-child) {
  margin-right: 24px;
  min-width: 264px;
} */
  /* /*------------------------- What are we doing -----------* */

  .customers {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .customers-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 24px;
    width: 100%;
  }
  .customers-item {
    flex-grow: 1;
    height: 88px;
  }
  .footer-logo-container {
    display: flex;
    margin-right: auto;
  }
}
@media screen and (max-width: 1199px) {
  .page1 {
    display: none;
  }
  .customers-list {
    display: flex;
    justify-content: center;
    text-align: center;
    /* gap: 24px; */
    width: 100%;
  }
  .customers-item {
    height: 88px;
    width: 190px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
  }
  .customers-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 72px;
  }
  /* .customers-item {
    flex-basis: 50%;
    box-sizing: border-box;
  } */
}
