:root {
  --main-title-color: #ffffff;
  --main-color: #2e2f42;
  --main-gray: #434455;
  --blu: #4d5ae5;
  --d-blu: #404bbf;
  --l-gray: #f4f4fd;
  --ll-gray: #e7e9fc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  position: relative;
}

.container {
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
}
/*-----------------------HEDER----------------------*/
/* .header-mobile {
  display: none;
}
.address {
  display: none;
} */

.header {
  padding: 24px 16px;

  border-bottom: 1px solid #e7e9fc;
}
.header-nav,
.header-portfolio-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blu);
}
.header-portfolio-link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blu);
}
.header-logo-color {
  color: var(--main-color);
}
.header-portfolio-part-logo {
  color: var(--main-color);
}

.header-portfolio-link-first:hover,
.header-portfolio-link-first:focus {
  color: var(--d-blu);
}
.header-portfolio-link:hover,
.header-portfolio-link:focus {
  color: var(--d-blu);
}

.current {
  position: relative;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  margin-bottom: -24px;
  background: #404bbf;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

.header-portfolio-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-gray);
  transition: color 250ms linear;
}
.header-portfolio-link-first {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-address-link {
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--main-gray);
  font-weight: 400;
  transition: color 250ms linear;
}
/* .header-item {
  display: none;
} */
.servis-link {
  display: inline-block;
}
.servis-link:hover,
.servis-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.pay-text,
.servis-text,
.food-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-gray);
  letter-spacing: 0.02em;
}
.mobile-menu-button {
  display: flex;
  margin-left: auto;
  background-color: transparent;
  border: transparent;
}

.mobile-menu-icon {
  stroke: #2e2f42;
}
.mobile-menu-button {
}
.mobile-menu-icon {
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 24px 24px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-photo-soc-list {
  display: flex;
  gap: 24px;
}
.mob-menu-close {
  margin-left: auto;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mob-list {
}

.mob-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.mob-link:hover,
.mob-link:focus {
  background-color: var(--d-blu);
}

.mob-address-list {
  margin-bottom: 48px;
}
.mob-item-address {
  margin-bottom: 40px;
}
.mob-phone-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #434455;
}
.mob-phone-link:hover,
.mob-phone-link:focus {
  background-color: var(--d-blu);
}
.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mob-address-link:hover,
.mob-address-link:focus {
  background-color: var(--d-blu);
}
/*-----------------------FIRST SECTION----------------------*/
.first-btn {
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 48px;
  margin: auto;
  border-radius: 4px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--blu);
  color: var(--main-title-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.first-btn:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: var(--d-blu);
}

.first-btn:focus {
  background-color: var(--d-blu);
  cursor: pointer;
}
.btn-div {
}
.btn-item {
}
.btn-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
}
/*********************Modal btn********************* */
.modal-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.modal-btn {
  color: var(--blu);
  background: #f4f4fd;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-right: 24px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--main-title-color);
  background: var(--d-blu);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.first {
  padding: 112px 54px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*-----------------------QUAISTY----------------------*/
.quaisty {
  padding: 96px 16px;
}

.quaisty-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.quaisty-item {
  flex: 100%;
}
.quaisty-uptext {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  background-color: var(--main-title-color);
  text-transform: capitalize;

  margin-bottom: 8px;
}

/* .quaisty-uptext {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;

} */
.quaisty-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.pay-uptext,
.servis-uptext,
.food-uptext {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  background-color: var(--main-title-color);
}

.quaisty-soc-icon {
}
/*-----------------------What are we doing----------------------*/

.servis-item {
  flex-basis: calc((100% - 48px) / 3);
}
.pay-cover-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  background: var(--blu);
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.servis-link:hover .pay-cover-text {
  transform: translate(0);
}
.pay-cover-wrap {
  position: relative;
  overflow: hidden;
}

.pay-uptext {
  margin-bottom: 8px;
}
.pay-div {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  background: #ffffff;
  border: 1px solid #e7e9fc;
}
.pay-div:nth-child(3n) {
}

/* ---------------Our Team ----------------------- */
.photo {
  background-color: var(--l-gray);
  padding-top: 96px;
  padding-bottom: 96px;
}
/* .photo-color:not(:last-child) {
  margin-bottom: 72px;
} */
.photo-team.color {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  background-color: var(--l-gray);
  text-align: center;
  margin-bottom: 72px;
}
.photo-list {
  background-color: var(--main-title-color);
  display: flex;
  align-items: center;
  /* flex-direction: column; */

  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  background-color: var(--l-gray);
}
.list {
}
.photo-human {
}
.photo-human-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding: 32px 16px 32px 16px;
}

.photo-team {
  background-color: var(--main-title-color);
}
.photo-color {
  background-color: var(--main-title-color);
}

.photo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-gray);
  background-color: var(--main-title-color);
}
.logo-footer {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blu);
  margin-bottom: 16px;
}

.logo-footer-studio {
  color: var(--l-gray);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ll-gray);
  width: 264px;
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer {
  background-color: var(--main-color);
  padding: 100px 0;
}
.footer-logo-container {
  display: flex;
  margin-right: auto;
}
/*-----------------------PAGE 2----------------------*/
.quaisty-page-link {
  display: none;
}

.page-list {
  display: none;
}
.pay-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.photo-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.photo-soc-item {
  width: 40px;
  height: 40px;
}
.photo-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--blu);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-soc-icon {
  fill: #f4f4fd;
}
.photo-soc-link:hover,
.photo-soc-link:focus {
  background-color: var(--d-blu);
}
/* **********************  Customers  ********** */
.customers-new {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.customers {
  margin-top: 96px;
  margin-bottom: 96px;
}
/* .customers-list {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 24px;
  width: 100%;
}
.customers-item {
  height: 88px;
  width: 190px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.customers-item {
  flex-basis: 33.33%;
  box-sizing: border-box;
} */
/* .customers-item {
  flex: calc(50% - 48px);
} */
.customers-link {
  width: 168px;
  height: 88px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: #8e8f99;
  transition: border-color 250ms linear, fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  fill: #404bbf;
  border-color: #404bbf;
}

.customers-item:hover,
.customers-item:focus {
}

.customers-icon {
  color: currentColor;
}
.footer-icon {
}
/* ******************************footer icon************** */
.text-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 208px;
  margin-bottom: 16px;
}
.footer-icon-list {
  display: flex;
  gap: 16px;
}
.footer-icon-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--blu);
  align-items: center;
  display: flex;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: #f4f4fd;
}
.footer-icon {
}
.footer-logo-text {
  margin-right: 130px;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

/* ---------------------Modal footer------------------------------ */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 408px;
  height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms linear;
  padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close-btn {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border-radius: 50%;
  align-items: center;
  margin-left: auto;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding-left: 40px;
}

.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.contact-from-message {
  width: 100%;
  height: 100px;
  padding: 15px;
  margin-bottom: 16px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
}
.contact-from-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}

/* .consent-blok {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  flex-direction: row;
  padding-bottom: 24px;
  padding: 0px;
  gap: 8px; 
}*/
.checkbox-link {
  color: #4d5ae5;
}
.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-clue {
  display: flex;
  margin-bottom: 4px;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translatey(-50%);
}

.input-wrap {
  position: relative;
}

.modal-field {
  margin-bottom: 8px;
}

.submit-btn {
  justify-content: center;
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-color: #4d5ae5;
}
.submit-btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}
.input-checkbox {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  flex-direction: row;
  padding-bottom: 24px;
  padding: 0px;
  gap: 8px;
}
.input-checkbox:checked + .privacy-text::before {
  background-color: #404bbf;
  border: none;
  background-image: url(../images/check-1.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.consent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
}
.privacy-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  flex-direction: row;
  margin-bottom: 24px;
  gap: 8px;
  display: flex;
  align-items: center;
}

.privacy-text::before {
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}
.checkbox-link-color {
  color: #4d5ae5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.subscribe {
  margin-left: 80px;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-input {
  background: #2e2f42;
  border: 1px solid #ffffff;
  border-radius: 4px;
  height: 40px;
  width: 264px;
  margin-right: 24px;
  padding-left: 16px;
  color: #e7e9fc;
}
.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.subscribe-btn {
  background: #4d5ae5;
  border-color: #4d5ae5;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  width: 165px;
  height: 40px;
}
.submit-soc {
  fill: #ffffff;
}
.footer-form {
  display: flex;
}
